<h1><%= @product.name %></h1>

<ul>
    <li>
        <span>Price: </span>
        <span><%= @product.price %></span>
    </li>
    <li>
        <span>Description: </span>
        <span><%= @product.description %></span>
    </li>
</ul>