<h1><%= @product.name %></h1>

<ul>
    <li>
        <span>Price: </span>
        <span><%= @product.price %></span>
    </li>
    <li>
        <span>Description: </span>
        <span><%= @product.description %></span>
    </li>
</ul>

<ul>
    <li><%= link_to "Destroy", product_path(@product), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %></li>
</ul>